
.container{
    text-align: center;
}
table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    width: 500px;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}
caption{
    padding: 30px;
}
td img{
    margin: 0 auto;

}

.icon-box{
    display: inline-block;
    width:350px;
    height:350px;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
    margin-left: 100px;
    margin-right: 100px
}

.icon-box img{
    width:250px;
    height:200px;
}