.center{
    text-align: center;

}

.container{
    text-align: center;
}
table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
  }
  image{
    object-fit:contain;
    width:10px;
    height:10px;
    float: left;
  }
  
  canvas{
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    position: absolute;
    top:75px;bottom:0;right:0;left:0; 
 
  }
  p{
      display: inline-block;
  }
