.center{
    text-align: center;

}

.container{
    text-align: center;
}
table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    width: 500px;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
  }
image{
    object-fit:contain;
    width:10px;
    height:10px;
    float: left;
  }
  
  canvas{
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    position: absolute;
    top:bottom:0;right:0;left:0; 
 
  }
  p{
      display: inline-block;
  }
