
/* index.html */

.btn, p, form, body, button, h1, u, li {
    font-family: 'Comfortaa';
}

#world { /* Picture of Globe */
    margin: auto;
    display: table;
    height: 100px;
}
#languageSelect {
    font-family: 'Comfortaa';
    margin: auto;
    display: table;
}
#languageSelect li {
    padding-bottom: 10px;
}
#languageSelect img {
    float: left;
    height: 60px;
    border: 2px solid black;
}


/* addBill.html */
#billInfo label {
    font-size: 25px;
}
#billInfo input {
    font-size: 25px;
}
#listOfCreditCards {
    padding-bottom: 40px;
}
#listOfCreditCards div {
    padding-bottom: 5px;
}


/* confirmPayment.html */
#confirmButtons {
    text-align: center;
}
#confirmButtons input {
    font-size: 25px;
}

button {
    font-family: 'Comfortaa';
    padding: 10px;
    margin: 20px;
    font-size: 28px;
    color: white;
    background: #85c5aa;
    border-radius: 12px;
}